.main-layout{
    display: flex;
    gap: 10px;
    margin: 9%;
}

.main-image{
    width: 50%;
}

.photo{
    border-radius: 10px;
    object-fit: cover;
    width: 100%;


}

input{
    border-radius: 20px;
    height: 30px;
}

.left-bar{
    display: flex;
}

.secondary-images{
    width: 50%;
}

.nav-bar{
    font-size: 15px;
}

h1{
    font-size: 5rem;
}


li{
    display: inline;
    margin: 5px;
}

.talk-to-us:link{
    color:black;

}



.bar{
    display: flex;

    justify-content: space-between;
}

.logo{
    height: 45px;
}

@media only screen and (max-width: 768px)
{

    /* *{
         border: red solid; 
    } */

    .main-layout{
        flex-direction:column;
    }

    .main-image, .secondary-images{
        width: 100%;
    }

    .left-bar{
        flex-wrap: wrap;
    }

    .bar{
        flex-direction: column;
    }

}